<component name="ArtifactManager">
  <artifact type="war" name="springProject-web:war">
    <output-path>$PROJECT_DIR$/springProject-web/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springProject-web</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springProject-web-1.0.war">
      <element id="artifact" artifact-name="springProject-web:war exploded" />
    </root>
  </artifact>
</component>