<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.wt.mapper.LoginMapper">

	<cache />

	<resultMap id="users" type="TUser">
		<id property="userId" column="userId" javaType="String" jdbcType="VARCHAR"/>
		<result property="userName" column="userName" javaType="String" jdbcType="VARCHAR"/>
		<result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="selectByEntity"  resultType="TUser">
		select * from t_user where username=#{userName} and password=#{password}
	</select>

	<select id="selectAllUsers" resultMap="users">
			select * from t_user
	</select>

	<select id="seletOneUser" resultType="TUser" >
		select * from t_user where userid=#{userid}
	</select>

	<insert id="addUserInfo" useGeneratedKeys="true" keyProperty="userid">

		insert into t_user(userid,username,password) values(#{id},#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
	</insert>

	<update id="updateUser" parameterType="TUser">
		UPDATE  t_user SET username=#{userName,jdbcType=VARCHAR} , password=#{password,jdbcType=VARCHAR}

		where 	userid=#{userId,jdbcType=VARCHAR}

	</update>

	<delete id="deleteUser" parameterType="String">
		delete from t_user where userid=#{id}
	</delete>

</mapper>